#about .header-container {
    font-family : Trebuchet MS;
	font-weight: bold;
	font-size: 50px;
	color: #A13323;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#about .about-container-item {
    background : #FA7F40;
	/* width : 523px;
	height : 700px; */
	border-radius : 12px;
    box-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
    margin: 5px 15px 25px 15px;
    padding: 7px;
    
    text-align: center;
}

#about .slick-dots{
    margin-bottom: 25px;
}

#about .slick-dots li button:before {
    font-size: 10px;
    color: #A13323;
}

#about .slick-prev {
    left: -15px;
    top: 50%;
}

#about .slick-next {
    right: -15px;
    top: 50%;
}
                        
#about .img-item {
    margin-top: 10px;
	width: 245px;
    height: 245px;
    margin: 0 auto;
}

#about .img-border {
    border: solid 5px;
    border-color: white;
}

#about .about-container-item h3{
    font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 28px;
	font-variant : small-caps;
	color : #FDDC70;
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.55);
}

#about .about-container-item h5{
    font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 18px;
	color : #765438;
}

#about .about-container-item p{
    font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 18px;
	color : #F2F2F2;
    text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.45);

    margin: 0 45px 15px 45px;
}

#about .btn-margin{
    margin: 10px;
}

@media (max-width: 1024px) {
    #about .header-container {
        font-size: 42px;
    }

    #about .about-container-item p{
        margin: 0;
    }
}

@media (max-width: 768px) {
    #about .header-container p {
        font-size: 32px;
    }
}