#results .header-container{
    font-family : Trebuchet MS;
	font-weight: bold;
	font-size: 50px;
	color: #A13323;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}
                            
#results .results-container{
    background: #A13323;
    opacity: 0.9;
	border-radius: 8px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 35px;
    text-align: center;
}
                                
#results .results-container p{
    font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 22px;
	color : #FDDC70;
    text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.55);
    
    vertical-align: middle;
}
            
#results .results-container video {
    width: 100%;
    height: auto;
    max-height: 300px;
    border: solid 6px;
    border-radius: 6px;
    border-color: #FDDC70;

    background-image: url("../../../img/bg.png");
    background-repeat: repeat;
}

#results .slick-dots{
    margin-bottom: 30px;
}

#results .slick-dots li button:before {
    font-size: 14px;
    color: #A13323;
}

#results .slick-prev {
    left: -15px;
    top: 40%;
}

#results .slick-next {
    right: -15px;
    top: 40%;
}

@media (max-width: 768px) {
    #results .header-container p {
        font-size: 32px;
    }
}

@media (max-width: 360px) {
    #results .results-container p{
        font-size: 18px;
    }
}