/* Main navbar css */
#navbar {
    position: fixed;
    top: 120px;
    width: 100%;
    z-index: 18;

    background-color: #FA7F40 !important;
    transition: all 0.5s;

    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
}

#navbar .navbar-toggler {
    margin-left: 20px;
}

/* After scroll 50px */
.navbar-up {
    /* margin-top: 0 !important; */
    top: 60px !important;
}

/* Display icon only on mobile */
#navbar .navbar-brand {
    display: none;
}

/* Text style of items */
#navbar a {
    color: #f2f2f2;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.55);

    margin: -5px 15px -3px 15px;
}

/* Text hover */
#navbar a:hover {
    color: #FDDC70;
}
#navbar .active a{
    color: #FDDC70 !important;
}

/* Text active */
#navbar .active>.hover {
    background-color: #FDDC70;
    width: 75%;
    height: 4px;
    margin: 0 auto;
}

/* Image brand shadow */
#navbar img {
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
}

#navbar button {
    color: #231F20;
}

@media (max-width: 960px) {
    #navbar {
        top: 0 !important;
        background-color: #FDDC70 !important;
    }

    #navbar a {
        text-align: center;
    }

    #navbar .active>.hover {
        width: 40%;  
        background-color: #A13323;  
    }

    /* Text hover */
    #navbar a:hover {
        color: #A13323;
    }

    #navbar .navbar-brand {
        display: block;
    }
}

@media (max-width: 1140px) {
    #navbar a {
        margin: 0px;
        padding: 0px;
    }
}

@media (max-width: 1340px) {
    #navbar a {
        font-size: 18px;
        margin: 0 10px 0 10px;
    }
}