/* Main image for main banner */
#home .kidsImg {
    position: absolute;
    top: -35%;
    right: 18%;
    left: 18%;
    z-index: 0;
}

#home .imgKidsBg {
    width: 100%;
    height: auto;
}

@media (max-width: 480px) {
    #home .kidsImg img{
        position: absolute;
        padding-top: 80%;
        left: -35%;
        width: 360% !important;
        max-width: 360% !important;
        z-index: 0;
    }

    #home .imgKidsBg {
        width: 360%;
        height: auto;
    }
}

@media (max-width: 420px) {
    #home .kidsImg img{
        padding-top: 22%;
        left: -78%;
        width: 300% !important;
    }
}