/* Main image for main banner */
#home .preschoolImg {
    position: absolute;
    top: -25%;
    right: 15%;
    left: 15%;
    z-index: 0;
}

#home .preschoolImgBg {
    width: 100%;
    height: auto;
}

@media (max-width: 480px) {
    #home .preschoolImg img{
        position: absolute;
        padding-top: 55%;
        left: -25% !important;
        width: 210% !important;
        height: auto !important;
        max-width: 360% !important;
        background-color: rgb(39, 37, 37);
    }
    
    #home .preschoolImgBg {
        width: 360%;
        height: auto;
    }
}
