/* Main image for main banner */
#home .schoolImg {
    position: absolute;
    top: -35%;
    right: 0%;
    left: 0%;
    z-index: 0;
}

#home .schoolImgBg {
    width: 100%;
    height: auto;
}

@media (max-width: 1140px) {
    #home .schoolImg {
        top: -40%;
    }
}

@media (max-width: 480px) {
    #home .schoolImg img{
        position: absolute;
        padding-top: 0%;
        left: -30%;
        width: 360% !important;
        max-width: 360% !important;
        z-index: 0;
    }

    #home .schoolImgBg {
        width: 360% !important;
        height: auto !important;
    }
}

@media (max-width: 350px) {
    #home .schoolImg img{
        padding-top: 5%;
    }
}