@charset "utf-8";
	.st
{
	font-family : Myriad Pro;
	font-size : 6px;
	color : #F2F2F2;
	color : rgb(242, 242, 242);
}
.st1
{
	font-family : Myriad Pro;
	font-size : 14px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.navbar-bg_1_
{
	background : #FA7F40;
	background : rgba(250, 127, 64, 1);
	position : absolute ;
	left : 0px;
	top : 7113px;
	width : 1920px;
	height : 50px;
}
