/* Main image for main banner */
#home .preschoolImg {
    position: absolute;
    top: -25%;
    right: 15%;
    left: 15%;
    z-index: 0;
}

#home .preschoolImgBg {
    width: 100%;
    height: auto;
}

@media (max-width: 480px) {
    #home .preschoolImg img{
        position: absolute;
        left: -22% !important;
        width: 150% !important;
        max-width: 150% !important;
        background-color: rgb(39, 37, 37);
    }
    
    #home .preschoolImgBg {
        display: none;
    }
}

@media (max-width: 360px) {
    #home .preschoolImg img{
        padding-top: 20%;
    }
}