/* Main image for main banner */
#home .schoolImg {
    position: absolute;
    top: -35%;
    right: 0%;
    left: 0%;
    z-index: 0;
}

#home .schoolImgBg {
    width: 100%;
    height: auto;
}

@media (max-width: 1140px) {
    #home .schoolImg {
        top: -40%;
    }
}

@media (max-width: 480px) {
    #home .schoolImg img{
        position: absolute;
        padding-top: 0%;
        left: -35%;
        width: 190% !important;
        max-width: 190% !important;
        z-index: 0;
    }

    #home .schoolImgBg {
        width: 150%;
        height: auto;
    }
}

@media (max-width: 420px) {
    #home .schoolImg img{
        padding-top: 32%;
        left: 0%;
        width: 100% !important;
    }

    #home .schoolImgBg {
        display: none;
    }
}

@media (max-width: 350px) {
    #home .schoolImg img{
        padding-top: 40%;
    }
}