@charset "utf-8";
	.st
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 9px;
	color : #FDDC70;
	color : rgb(253, 220, 112);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st1
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 16px;
	color : #FDDC70;
	color : rgb(253, 220, 112);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.map-bg
{
	background : #A13323;
	background : rgba(161, 51, 35, 1);
	opacity : 0.9;
	position : absolute ;
	left : 396px;
	top : 6607px;
	width : 350px;
	height : 440px;
	border-radius : 8px;
	box-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.field-phone
{
	background : #FA7F40;
	background : rgba(250, 127, 64, 1);
	position : absolute ;
	left : 1364px;
	top : 6678px;
	width : 151px;
	height : 38px;
	border-radius : 8px;
	box-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.field-name
{
	background : #FA7F40;
	background : rgba(250, 127, 64, 1);
	position : absolute ;
	left : 1183px;
	top : 6678px;
	width : 151px;
	height : 38px;
	border-radius : 8px;
	box-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.note-bg
{
	background : #A13323;
	background : rgba(161, 51, 35, 1);
	opacity : 0.9;
	position : absolute ;
	left : 1169px;
	top : 6607px;
	width : 360px;
	height : 440px;
	border-radius : 8px;
	box-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.field-email
{
	background : #FA7F40;
	background : rgba(250, 127, 64, 1);
	position : absolute ;
	left : 1225px;
	top : 6745px;
	width : 249px;
	height : 38px;
	border-radius : 8px;
	box-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.contacts-bg
{
	background : #FDDC70;
	background : rgba(253, 220, 112, 1);
	position : absolute ;
	left : 0px;
	top : 6493px;
	width : 1920px;
	height : 620px;
}
.enter-photo
{
	background-image : url(enter-photo.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 779px;
	top : 6842px;
	width : 359px;
	height : 205px;
}
.map_1_
{
	background-image : url(map_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 416px;
	top : 6627px;
	width : 310px;
	height : 400px;
}
.field-msg
{
	background : #FA7F40;
	background : rgba(250, 127, 64, 1);
	position : absolute ;
	left : 1185px;
	top : 6823px;
	width : 328px;
	height : 111px;
	border-radius : 8px;
	box-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.address-bg
{
	background : #FA7F40;
	background : rgba(250, 127, 64, 1);
	position : absolute ;
	left : 780px;
	top : 6607px;
	width : 359px;
	height : 213px;
	border-radius : 8px;
	box-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.stick-acception
{
	background : #FDDC70;
	background : rgba(253, 220, 112, 1);
	position : absolute ;
	left : 1190px;
	top : 6951px;
	width : 15px;
	height : 14px;
}
.st3
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 16px;
	color : #FDDC70;
	color : rgb(253, 220, 112);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st2
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 16px;
	color : #FDDC70;
	color : rgb(253, 220, 112);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st5
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 16px;
	font-variant : small-caps;
	color : #FAF2F3;
	color : rgb(250, 242, 243);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.st6
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 28px;
	text-transform : uppercase;
	color : #FAAF40;
	color : rgb(250, 175, 64);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st4
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 16px;
	color : #FDDC70;
	color : rgb(253, 220, 112);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st7
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 50px;
	font-variant : small-caps;
	color : #A13323;
	color : rgb(161, 51, 35);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
