@charset "utf-8";
	.st
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 27px;
	text-transform : uppercase;
	color : #231F20;
	color : rgb(35, 31, 32);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st1
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 15px;
	font-variant : small-caps;
	color : #FAF2F3;
	color : rgb(250, 242, 243);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.arrows_7_
{
	background-image : url(arrows_7_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 390px;
	top : 528px;
	width : 1116px;
	height : 84px;
}
.blackout_3_
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
	opacity : 0.1;
	position : absolute ;
	left : 0px;
	top : 170px;
	width : 1920px;
	height : 800px;
}
.dots_3_
{
	background-image : url(dots_3_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 922px;
	top : 945px;
	width : 75px;
	height : 10px;
}
.explanation-bg_3_
{
	background : #F2F2F2;
	background : rgba(242, 242, 242, 1);
	opacity : 0.5;
	position : absolute ;
	left : 410px;
	top : 777px;
	width : 829px;
	height : 134px;
}
.explanation-photo
{
	background-image : url(explanation-photo.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 0px;
	top : 170px;
	width : 1920px;
	height : 801px;
}
