@charset "utf-8";
	.explanation-text-button
{
	background-image : url(explanation-text-button.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -1738px;
	top : 758px;
	width : 614px;
	height : 133px;
}
.blackout
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
	opacity : 0.1;
	position : absolute ;
	left : -2149px;
	top : 182px;
	width : 1920px;
	height : 797px;
}
.explanation-bg
{
	background : #F2F2F2;
	background : rgba(242, 242, 242, 1);
	opacity : 0.5;
	position : absolute ;
	left : -1738px;
	top : 765px;
	width : 608px;
	height : 134px;
}
.shool-baner-bg
{
	background-image : url(shool-baner-bg.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -2155px;
	top : 182px;
	width : 1921px;
	height : 801px;
}
.arrows
{
	background-image : url(arrows.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -1752px;
	top : 531px;
	width : 1118px;
	height : 449px;
}
