@charset "utf-8";
	.st
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 22px;
	color : #F2F2F2;
	color : rgb(242, 242, 242);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st1
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 24px;
	text-transform : uppercase;
	color : #FDDC70;
	color : rgb(253, 220, 112);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.advantage2-icon
{
	background-image : url(advantage2-icon.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 752px;
	top : 1019px;
	width : 125px;
	height : 125px;
}
.advantage3-bg
{
	background : #FA7F40;
	background : rgba(250, 127, 64, 1);
	position : absolute ;
	left : 1267px;
	top : 1001px;
	width : 260px;
	height : 320px;
	border-radius : 12px;
	box-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.advantage1-icon
{
	background-image : url(advantage1-icon.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 463px;
	top : 1019px;
	width : 125px;
	height : 125px;
}
.advantage2-bg
{
	background : #FA7F40;
	background : rgba(250, 127, 64, 1);
	position : absolute ;
	left : 683px;
	top : 1001px;
	width : 260px;
	height : 320px;
	border-radius : 12px;
	box-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.advantage-bg
{
	background-image : url(advantage-bg.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 0px;
	top : 968px;
	width : 1920px;
	height : 450px;
}
.advantage3-icon
{
	background-image : url(advantage3-icon.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1337px;
	top : 1019px;
	width : 125px;
	height : 125px;
}
.advantage1-bg
{
	background : #FA7F40;
	background : rgba(250, 127, 64, 1);
	position : absolute ;
	left : 390px;
	top : 1001px;
	width : 260px;
	height : 320px;
	border-radius : 12px;
	box-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.st3
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 24px;
	text-transform : uppercase;
	color : #FDDC70;
	color : rgb(253, 220, 112);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st2
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 22px;
	color : #F2F2F2;
	color : rgb(242, 242, 242);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st5
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 24px;
	text-transform : uppercase;
	color : #FDDC70;
	color : rgb(253, 220, 112);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st8
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 24px;
	text-transform : uppercase;
	color : #FDDC70;
	color : rgb(253, 220, 112);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st6
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 16px;
	text-transform : uppercase;
	color : #FAF2F3;
	color : rgb(250, 242, 243);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.st4
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 22px;
	color : #F2F2F2;
	color : rgb(242, 242, 242);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st7
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 24px;
	color : #F2F2F2;
	color : rgb(242, 242, 242);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.advantage4-icon_1_
{
	background-image : url(advantage4-icon_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1044px;
	top : 1019px;
	width : 125px;
	height : 125px;
}
