@charset "utf-8";
	.st
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 16px;
	font-variant : small-caps;
	color : #FAF2F3;
	color : rgb(250, 242, 243);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.st1
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 18px;
	color : #FDDC70;
	color : rgb(253, 220, 112);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.comment-bg-all
{
	background : #A13323;
	background : rgba(161, 51, 35, 1);
	position : absolute ;
	left : 779px;
	top : 5600px;
	width : 360px;
	height : 837px;
	border-radius : 8px;
}
.comment-bg
{
	background : #A13323;
	background : rgba(161, 51, 35, 1);
	position : absolute ;
	left : 1170px;
	top : 5601px;
	width : 360px;
	height : 461px;
	border-radius : 8px;
}
.comment-main-bg
{
	background-image : url(comment-main-bg.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 0px;
	top : 5498px;
	width : 1920px;
	height : 1000px;
}
.comment-photo
{
	background-image : url(comment-photo.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1280px;
	top : 5674px;
	width : 140px;
	height : 141px;
}
.st10
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 16px;
	color : #FA7F40;
	color : rgb(250, 127, 64);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st3
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 22px;
	font-variant : small-caps;
	color : #FAAF40;
	color : rgb(250, 175, 64);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st12
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 50px;
	font-variant : small-caps;
	color : #A13323;
	color : rgb(161, 51, 35);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st2
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 16px;
	color : #FA7F40;
	color : rgb(250, 127, 64);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st11
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 22px;
	font-variant : small-caps;
	color : #FAAF40;
	color : rgb(250, 175, 64);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st5
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 18px;
	color : #FDDC70;
	color : rgb(253, 220, 112);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.comment-bg_1_
{
	background : #A13323;
	background : rgba(161, 51, 35, 1);
	position : absolute ;
	left : 390px;
	top : 5601px;
	width : 360px;
	height : 461px;
	border-radius : 8px;
}
.st8
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 16px;
	font-variant : small-caps;
	color : #FAF2F3;
	color : rgb(250, 242, 243);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.st6
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 16px;
	color : #FA7F40;
	color : rgb(250, 127, 64);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st4
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 16px;
	font-variant : small-caps;
	color : #FAF2F3;
	color : rgb(250, 242, 243);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.st7
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 22px;
	font-variant : small-caps;
	color : #FAAF40;
	color : rgb(250, 175, 64);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st9
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 18px;
	color : #FDDC70;
	color : rgb(253, 220, 112);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.comment-photo_2_
{
	background-image : url(comment-photo_2_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 889px;
	top : 5673px;
	width : 141px;
	height : 141px;
}
.comment-photo_1_
{
	background-image : url(comment-photo_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 499px;
	top : 5677px;
	width : 141px;
	height : 141px;
}
.comment-header-bg
{
	background : #E9AA44;
	background : rgba(233, 170, 68, 1);
	position : absolute ;
	left : 835px;
	top : 5520px;
	width : 250px;
	height : 62px;
	border-radius : 4px;
	box-shadow : 0px 0px 0px rgba(0, 0, 0, 0);
}
