@charset "utf-8";
	.st
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 22px;
	color : #FDDC70;
	color : rgb(253, 220, 112);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.st1
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 50px;
	font-variant : small-caps;
	color : #A13323;
	color : rgb(161, 51, 35);
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.results-bg
{
	background : #A13323;
	background : rgba(161, 51, 35, 1);
	opacity : 0.9;
	position : absolute ;
	left : 457px;
	top : 3144px;
	width : 1005px;
	height : 372px;
	border-radius : 8px;
	box-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.results-photo
{
	background-image : url(results-photo.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1097px;
	top : 3155px;
	width : 351px;
	height : 351px;
}
.results-main-bg
{
	background : #FDDC70;
	background : rgba(253, 220, 112, 1);
	position : absolute ;
	left : 0px;
	top : 3067px;
	width : 1920px;
	height : 480px;
}
