/* Анимация при проскроливании */
.height-down {
	height : 60px !important;
}

/* Основной блок мелкого заголовка */
.small-header-bg {
	background-image: url("../../img/bg2.png");
    background-repeat: repeat;
    background-position: center;
    background-color: #FDDC70;

	width : 100%;
	height : 120px;
	position: fixed; 
	z-index: 19;
	transition: all 0.5s;
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.50);
}

/* Иконка пчелки */
.logo-bee-small {
	display: inline-block;
	margin-left: 10px;
	filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.4));
}

/* Телефонный номер в маленьком заголовке */
.phone-number-small {
	font-family: Trebuchet MS, serif;
	font-weight : bold;
	font-size : 18px;
	color : #231F20;
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);

	margin-top: 14px; 
	display: inline-block;
}

/* Вертикальная черта */
.line-small-header
{
	border-left: 2px solid #231F20;
	border-radius: 2px;

	/* width : 1px; */
	height : 35px;
	box-shadow : 1px 1px 4px rgba(0, 0, 0, 0.25);

	display: inline-block;
	margin: 0 15px;
}

/* Стили иконок */
.icons-small {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.inline-icon {
	margin: 5px;
}

.fa-vk:hover {
	color: blue;
}

.fa-instagram:hover {
	color: brown;
}
		
.fa-youtube:hover {
	color: red;
}

/* Кнопка записаться в мелком заголовке */
.note-button-small {
	background-color: #FF0700;
	border-width: 0px;
	border-radius: 6px;
	padding: 8px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.50);

	font-family: Trebuchet MS, serif;
	font-weight : bold;
	font-size : 14px;
	text-transform : uppercase;
	color : #FAF2F3;
	text-shadow : 1px 1px 4px rgba(0, 0, 0, 0.50);
	
	display: inline-block;
	margin-bottom: 3px;
	margin-right: 1px;
}