#discount .header-container {
    font-family : Trebuchet MS;
	font-weight: bold;
	font-size: 50px;
	color: #A13323;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#discount .discount-container {
    background: #A13323;
	border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    margin-bottom: 20px;
    
    text-align: center;
}

#discount .discount-container img{
    margin-bottom: 20px;
   
    background-image: url("../../../img/bg.png");
    background-repeat: repeat;
    border: solid 3px;
    border-color: #FDDC70;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
    #discount .discount-container img{
        width: 95%;
    }
}

