@charset "utf-8";
	.dots_2_
{
	background-image : url(dots_2_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2992px;
	top : 925px;
	width : 99px;
	height : 34px;
}
.arrows_6_
{
	background-image : url(arrows_6_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2483px;
	top : 510px;
	width : 1118px;
	height : 107px;
}
.explanation
{
	background-image : url(explanation.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2624px;
	top : 766px;
	width : 538px;
	height : 143px;
}
.kids-baner-bg
{
	background-image : url(kids-baner-bg.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2079px;
	top : 170px;
	width : 1921px;
	height : 800px;
}
.backout
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
	opacity : 0.1;
	position : absolute ;
	left : 2079px;
	top : 170px;
	width : 1920px;
	height : 798px;
}
